@import 'tailwindcss';

:root {
  --color-text: #242424;
  --color-theme: #F0F0F0;
	--color-nav: #FFFFFF;
	--color-nav-small: #cfcfcf;
  --color-hover: #8A8A8A;
  --color-dark-button: #000000;
  --shadow: 4px 4px 0 #3f3f3f;
}

[data-theme='dark'] {
  --color-text: #E3E3E3;
  --color-theme: #242424;
	--color-nav: #363636;
	--color-nav-small: #333333;
  --color-hover: #838383;
  --color-dark-button: #363636;
  --shadow: 4px 4px 0 #a7a7a7;
}